<!-- <div class="paneli plavi-okvir senka" id="sticky-panel-1" style="position: sticky; top: 65px;"> -->
<div class="paneli plavi-okvir senka">
  <div style="display: flex;">
    <input type="text" class="form-control form-control-sm" style="margin-top: 1px" placeholder="Pretraga po nazivu" [(ngModel)]="pojamZaPretragu" (submit)="pretraga()" (keydown)="keyDownFunction($event)" />
    <button type="submit" (click)="pretraga()" class="btn btn-primary py-1">
      <i class="fas fa-search" *ngIf="!cekanjeRezultata"></i>
      <span class="spinner-border spinner-border-sm" *ngIf="cekanjeRezultata"></span>
    </button>
  </div>
</div>
