.naziv-polja-o-korisniku {
  margin-bottom: 5px;
}

.polja-o-korisniku {
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-ka-proizvodu {
  color: white;
  font-weight: bold;
}
