<div>
  <div class="row padding-u-2-redu px-1">
    <div class="col-md-12">
        <h3 style="color: white;">Porudžbine</h3>
    </div>

    <!-- LEVA STRANA -->
    <div class="col-md-8 px-0 px-md-1">
      <div class="plavi-okvir paneli-bez-paddinga p-2 mt-2">
        <!-- LISTA PORUDZBINA -->
        <div class="d-flex justify-content-between">
          <h5>Lista porudžbina</h5>

          <select class="custom-select custom-select-sm" style="width: 140px" ngModel (ngModelChange)="promenaKriterijuma($event)">
            <!-- <option *ngFor="let value of options" [ngValue]="value">{{value.text}}</option> -->
            <option [ngValue]="'sve'" selected>Sve</option>
            <option [ngValue]="'neobradjena'">Neobrađeno</option>
            <option [ngValue]="'obradjena'">Obrađeno</option>
          </select>

        </div>
        <div class="tabela" *ngIf="!pretragaUToku">
          <table class="table table-striped table-dark table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Obrađenost</th>
                <th scope="col">ID</th>
                <th scope="col">Vreme</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let porudzbina of porudzbine" (click)="odabirPorudzbine(porudzbina)">
                <td>
                  <i class="fas fa-check" *ngIf="porudzbina.obradjenost === 'obradjena'" style="color: lime"></i>
                  <i class="fas fa-times" *ngIf="porudzbina.obradjenost !== 'obradjena'" style="color: red"></i>
                </td>
                <td>
                  <div *ngIf="odabranaPorudzbina?._id === porudzbina?._id" class="text-primary">{{ porudzbina._id }}</div>
                  <div *ngIf="odabranaPorudzbina?._id !== porudzbina?._id">{{ porudzbina._id }}</div>
                </td>
                <!-- <td>{{ porudzbina._id }}</td> -->
                <td>{{ porudzbina.datumVreme | obavestenjeDatumVreme }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="pretragaUToku">
          <div class="d-flex justify-content-center">
            <div class="spinner-border text-info p-3 m-3" role="status" style="height: 10rem; width: 10rem;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <!-- / LISTA PORUDZBINA -->
        <!-- NUMERACIJA STRANA -->
      <div class="row">
          <div class="col flex-container">
            <span style="color: #808080" (click)="promenaStrane('prethodna')" *ngIf="trenutnaStrana == 1">&lt;</span>
            <span style="color: #17A2B8" (click)="promenaStrane('prethodna')" *ngIf="trenutnaStrana != 1">&lt;</span>
            <span style="text-decoration: underline; text-decoration-color: #17A2B8; margin-right: 0.5em; margin-left: 0.5em;" >{{trenutnaStrana}}</span>
            <span style="color: #808080" (click)="promenaStrane('sledeca')" *ngIf="!(this.trenutnaStrana * this.porudzbinaPoStrani < this.ukupnoPorudzbina)">&gt;</span>
            <span style="color: #17A2B8" (click)="promenaStrane('sledeca')" *ngIf="(this.trenutnaStrana * this.porudzbinaPoStrani < this.ukupnoPorudzbina)">&gt;</span>
          </div>
        </div>
        <div class="row">
          <div class="col flex-container">
            <p style="color: grey; font-size: 0.8rem;">Porudžbine {{ porudzbinaPoStrani * (trenutnaStrana - 1) + 1 }}-{{ porudzbinaPoStrani * (trenutnaStrana - 1) + porudzbine.length}} od {{ ukupnoPorudzbina }}</p>
          </div>
        </div>
        <!-- / NUMERACIJA STRANA -->
      </div>

      <!-- PODACI O KUPCU -->
      <div class="plavi-okvir paneli-bez-paddinga p-2 mt-2">
        <h5> <i class="fas fa-shopping-cart"></i> Korpa: </h5>
        <div class="table-responsive mt-3" *ngIf="odabranaPorudzbina && !ucitavanjeOdabranePorudzbine">
          <table class="table table-striped table-dark table-hover table-sm">
            <thead>
              <tr>
                <th>ID proizvoda</th>
                <th>Količina</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stavka of odabranaPorudzbina.sadrzaj">
                <td><a routerLink="/racunari/{{stavka.proizvodId}}" class="link-ka-proizvodu">{{ stavka.proizvodId }}</a></td>
                <td>{{ stavka.kolicina }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center" *ngIf="odabirPorudzbine && ucitavanjeOdabranePorudzbine">
          <span class="spinner-border spinner-border-lg text-primary"></span>
        </div>
      </div>
      <!-- / PODACI O KUPCU -->

    </div>
    <!-- / LEVA STRANA -->

    <!-- DESNA STRANA -->
    <div class="col-md-4 pl-md-0 pr-md-1 px-0">
      <!-- PODACI O KUPCU -->
      <div class="paneli plavi-okvir senka px-2">

        <h5 style="color: white;"><i class="fas fa-truck"></i> Podaci za dostavu: </h5>

        <div *ngIf="odabranaPorudzbina && !ucitavanjeOdabranePorudzbine">
          <div class="row mx-0">
            <div class="col-sm-3"><p class="naziv-polja-o-korisniku">Ime i prezime: </p></div>
            <div class="col-sm-9"><p class="polja-o-korisniku">{{ odabranaPorudzbina.korisnik.ime }} {{ odabranaPorudzbina.korisnik.prezime }}</p></div>
          </div>
          <div class="row mx-0">
            <div class="col-sm-3"><p class="naziv-polja-o-korisniku">Email: </p></div>
            <div class="col-sm-9"><p class="polja-o-korisniku">{{ odabranaPorudzbina.korisnik.email }}</p></div>
          </div>
          <div class="row mx-0">
            <div class="col-sm-3"><p class="naziv-polja-o-korisniku">Telefon: </p></div>
            <div class="col-sm-9"><p class="polja-o-korisniku">{{ odabranaPorudzbina.korisnik.telefon }}</p></div>
          </div>
          <div class="row mx-0">
            <div class="col-sm-3"><p class="naziv-polja-o-korisniku">Adresa: </p></div>
            <div class="col-sm-9"><p class="polja-o-korisniku">{{ odabranaPorudzbina.korisnik.grad }},<br>{{ odabranaPorudzbina.korisnik.ulica }},<br>{{ odabranaPorudzbina.korisnik.postanskiBroj }}</p></div>
          </div>
          <hr class="plavi-okvir-bez-debljine">
          <div class="d-flex justify-content-center">
            <button *ngIf="pretragaUToku" class="btn btn-primary mt-1">
              <span class="spinner-border spinner-border-sm"></span> Obrada
            </button>
            <button *ngIf="!pretragaUToku" class="btn btn-primary mt-1" (click)="obradi()">Obrada</button>
          </div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="odabirPorudzbine && ucitavanjeOdabranePorudzbine">
          <span class="spinner-border spinner-border-lg text-primary"></span>
        </div>

      </div>
      <!-- / PODACI O KUPCU -->
    </div>
    <!-- / DESNA STRANA -->

  </div>
</div>
