<div class="padding-u-2-redu px-2 ">
    <div class="row px-1 paneli-bez-paddinga plavi-okvir">
        <!-- izgleda da radi i bez klase '.padding-u-2-redu' -->
        <!-- KOLONA SA INFORMACIJAMA -->
        <div class="col-xl-3 col-xs-12 col-sm-6">
            <app-treci-red-informacije></app-treci-red-informacije>

        </div>
        <!-- KOLONA O NAMA -->
        <div class="col-xl-3 col-xs-12 col-sm-6">
            <app-treci-red-o-nama></app-treci-red-o-nama>
        </div>
        <!-- KOLONA NAŠA LOKACIJA -->
        <div class="col-xl-6 col-xs-12 col-sm-12">
            <app-treci-red-lokacija></app-treci-red-lokacija>
        </div>
    </div>
</div>
